* {
margin: 0;
padding: 0;
border: 0;
box-sizing: border-box;
width: 100%;
overflow-x: hidden;
font-family: Helvetica;
}

::-webkit-scrollbar {
    display: none;
}

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* only needed once */

:-moz-any(#content,#appcontent) browser{
 margin-right:-17px!important;
 overflow-y:scroll;
 margin-bottom:-17px!important;
 overflow-x:scroll;
}

.grid-container {
  width: 100%;
  height: 100vh;
  background-color: black;
}

#box {
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: auto;
  width: auto;
  padding: 2em;
  color: black;
  text-align: center;
  overflow: visible;
}


/***************************
    Google Table CSS
***************************/

.google-visualization-table-tr-even,
.google-visualization-table-tr-even td,
.google-visualization-table-tr-even-nonstrict {
  background-color: black !important;
  color: #b29772 !important;
}

.google-visualization-table-tr-odd,
.google-visualization-table-tr-odd td,
.google-visualization-table-tr-odd-nonstrict {
  background-color: black !important;
  color: #b29772 !important;
}

.google-visualization-table-tr-sel,
.google-visualization-table-tr-sel td,
.google-visualization-table-tr-sel-nonstrict {
  background-color: black !important;
  color: #b29772 !important;
}

.google-visualization-table-tr-over,
.google-visualization-table-tr-over td,
.google-visualization-table-tr-over-nonstrict {
  background-color: black !important;
  color: #b29772 !important;
}

.google-visualization-table-td,
.google-visualization-table-th {
  border: 1px solid black !important;
  color: #b29772 !important;
}

.google-visualization-table-tr-head,
.google-visualization-table-tr-head td,
.google-visualization-table-tr-head-nonstrict {
  background-color: black !important;
  background-image: none !important;
  color: #b29772 !important;
}

.google-visualization-table .gradient {
  background-image: none !important;
}
